html {
  scroll-behavior: smooth;
}

nav .brand-logo-left{
    margin-left: 2.1rem;
}

.OrangeFun{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* img .responsive-img{
    width: 100%;
} */

/*Con este codigo hacemos que el menu se quede pegado */
/* .sticky-nav {
    position: fixed;
    top: 0;
    z-index:10;
} */

.to-top {
  /* background: #fc4a1a; white; */
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#fff; /*1f1f1f;*/
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity:1;
}