nav .brand-logo-left{
    margin-left: 2.1rem;
}

/* img .responsive-img{
    width: 100%;
} */

/*Con este codigo hacemos que el menu se quede pegado */
/* .sticky-nav {
    position: fixed;
    top: 0;
    z-index:10;
} */