html {
  scroll-behavior: smooth;
}

nav .brand-logo-left{
    margin-left: 2.1rem;
    color: #696354;
}

.caption h3,h5{
  text-shadow: 1px 1px 1px #000;
}

.OrangeFun{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Green{
  background: #3b8435; /*  rgb(59,132,53); */
  /* background: linear-gradient(180deg, rgba(59,132,53,1) 35%, rgba(247,249,246,1) 100%);  */
}

.Green-Text{
  color: #3b8435; /*  rgb(59,132,53); */
}

/* .GreenGradient{
  background: #3b8435; /*  rgb(59,132,53); 
  background: linear-gradient(180deg, rgba(59,132,53,1) 35%, rgba(247,249,246,1) 100%); 
} */

.Brown{
  color: #625E4A;
}


img .responsive-img{
    width: 100%;
}

/*Con este codigo hacemos que el menu se quede pegado */
/* .sticky-nav {
    position: fixed;
    top: 0;
    z-index:10;
} */

.to-top {
  /* background: #fc4a1a; white; */
  position: fixed;
  bottom: 50px;
  right:5px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color: #fff; /* #173415; /* #fff; /*1f1f1f;*/
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom: 16px;
  pointer-events: auto;
  opacity:1;
}

.whatsapp-button{
  position: fixed;  
  right: 25px; 
  bottom: 16px;
}

/*--INI Scroll Bar --*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  /* background: #fc4a1a;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #3b8435 ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  /* background: #fc4a1a; */
  background: #173415;
}
/*--FIN Scroll Bar --*/

/* -- FLEX --
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} */

p{
  /* width: 300px; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}